@import '../style/variables';
@import '../style/mixins';

.request-form-images-container {
  margin: 0 -5px -10px -5px;
}

.request-form-image-container {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(50% - 10px);

  &:hover {
    .request-form-upload-text {
      transform: scale(1.25);
    }
  }
}

.request-form-remove {
  position: absolute;
  top: -5px;
  right: -5px;

  transition: all $animation-duration $animation-easing;
  border: 2px solid $neutral-lighter;
  border-radius: 50%;
  background: $neutral;
  width: 24px;
  text-align: center;
  line-height: 20px;
  color: $neutral-lighter;

  &:hover {
    transform: scale(1.25);
  }
}

// https://codepen.io/alanshortis/pen/eJLVXr
.request-form-uploading {
  border: 0.25rem solid $neutral;
  border-radius: 50%;
  border-top-color: $neutral-lighter;
  width: 30px;
  height: 30px;
}

.request-form-upload-text {
  transition: all $animation-duration $animation-easing;
}

// https://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input
.request-form-upload-input {
  opacity: 0;
  width: 100%;
}
