@import '../style/variables';
@import '../style/mixins';

#header { // sass-lint:disable-line no-ids
  background: $primary;
  padding: 10px;
  color: $neutral-lighter;
}

#logo {
  margin-right: 10px;
  color: $neutral-lighter;

  > img {
    width: $header-height;
    height: $header-height;
    padding: 5px;
  }
}
