@import '../style/variables';
@import '../style/mixins';

#header { // sass-lint:disable-line no-ids
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;

  background: $primary;
  padding: $spacing;
  color: $neutral-lighter;
}

#logo { // sass-lint:disable-line no-ids
  margin-right: $spacing;
  color: $neutral-lighter;

  > img {
    width: $header-height;
    height: $header-height;
    padding: $spacing / 2;
  }
}

.menu-icon {
  cursor: pointer;
  margin-right: $spacing;
  width: $header-height - 2 * $spacing;
  height: $header-height - 2 * $spacing;
  border-radius: $border-radius;
  padding: $spacing;
  fill: $neutral-lighter;

  transition: background $animation-duration $animation-easing, fill $animation-duration $animation-easing;

  &:hover {
    background: $neutral-lighter;
    fill: $foreground-darker;
  }
}

.menu-link {
  font-size: 1.2em;
  padding: $spacing;
  border-radius: $border-radius;

  color: $neutral-lighter;
  transition: background $animation-duration $animation-easing, color $animation-duration $animation-easing;

  &:hover {
    background: $neutral-lighter;
    color: $foreground-darker;
  }
}
