@import '../style/variables';
@import '../style/mixins';

.request-list-item {
  border-top: 1px solid $neutral-light;
  padding: 10px 5px;
}

.request-list-item-status {
  border-radius: $border-radius;
  padding: 5px;
}
