@import '../style/variables';
@import '../style/mixins';

.request-list-status-filter-item {
  transition: background $animation-duration $animation-easing, color $animation-duration $animation-easing;

  &:hover {
    background: $neutral;
    color: $neutral-lighter;
  }

  &.active {
    background: $primary;
    color: $neutral-lighter;
  }
}

.request-list-item {
  display: grid;
  grid-template-columns: $size-md 1fr auto;
  grid-gap: $spacing * 0.5;

  transition: color $animation-duration $animation-easing;
  color: $foreground;

  &:hover {
    color: $foreground-light;
  }

  & + & {
    border-top: 1px solid $neutral-light;
  }
}
