@import '../style/variables';
@import '../style/mixins';

#content { // sass-lint:disable-line no-ids
  @include overflow(hidden, auto);

  background: $neutral-lighter;

  position: relative;
  transition: left $animation-duration $animation-easing;
  left: 0;
  z-index: 10;

  @media (max-width: $xs-max) {
    &.collapsed {
      left: -100%;
    }
  }
}
