@import '../style/variables';
@import '../style/mixins';

#content {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: $xs-min;
  background: $neutral-lighter;

  @include overflow(hidden, auto);
}
