@import '../style/variables';
@import '../style/mixins';

#content { // sass-lint:disable-line no-ids
  @include overflow(hidden, auto);

  transition: left $animation-duration $animation-easing;
  background: $neutral-lighter;

  @media (max-width: $xs-max) {
    &.collapsed {
      left: -100%;
    }
  }
}
