// Override compote variables
$primary: #2ecc71;
$primary-dark: #27ae60;

$font-family: 'Roboto', sans-serif;

@import '~compote/style/variables';

// Custom variables
$header-height: 75px;

$facebook: #3b5998;

$size-xxs: 20px;
$size-xs: 32px;
$size-sm: 48px;
$size-md: 64px;
$size-lg: 96px;
$size-xl: 128px;
$size-xxl: 160px;
